@(formWithErrors: Option[Form[Login]] = None)(implicit flash: Flash)

@main("Login page")(false) {

<form method="POST">
    <h2>Please log in</h2>
        @flash.get("error") match {
        	case Some(str: String) => {
       			<div style="color: #FF0000">
        			@flash.get("error").get
				</div>
			}
			case ee @ _ => {
 				@{println(ee)}
        	}
        }
	<input type="text" placeholder="Email address" name="email">
	<input type="password" placeholder="Password" name="password">
	<button type="submit">Log in</button>
	<button type="reset">cancel</button>
</form>

<p><a href="/signup">signup</a></p>
}